<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Home Page</title>
<link rel="stylesheet" href="/css/admin.css"> 
</head>
<body>

<div class="container">
    <h1>Welcome Admin</h1>
    
    <div class="link-wrapper">
        <a href="map-song"><h3>Add Songs</h3></a>
        <a href="map-viewsong"><h3>View Songs</h3></a>
        <a href="map-playlist"><h3>Create Playlist</h3></a>
        <a href="map-viewplaylist"><h3>View Playlist</h3></a>
    </div>
</div>

</body>
</html>
